.dashboard {
  min-height: 100vh;
  max-height: 100vh;
  padding: 2rem 4rem;
  display: grid;
  grid-auto-rows: min-content;
  gap: 3rem;
  overflow-y: auto;
  
  &__card {
    background-color: var(--card-bg);
    padding: 1rem;
    width: 100%;
    border-radius: 1.2rem;
    &_title {
      color: var(--text-color);
      font-size: 2rem;
    }
    &_top {
      padding: 2rem;
      display: grid;
      gap: 2rem;
    }
    &_bottom {
      padding: 2rem;
    }
    &_topContent {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    color: var(--text-color);
    &_heading {
      font-size: 3rem;
    }
    &_form {
      display: flex;
      gap: 1rem;
      align-items: center;
      padding: 1rem 2rem;
      border-radius: 10rem;
    }
    &_formImg {
      height: 2rem;
      width: 2rem;
    }
    &_select {
      background: transparent;
      min-width: 15rem;
      height: 3rem;
      border: none;
      outline: none;
      font-weight: bolder;
      color: var(--text-color);
      background-color: var(--card-bg);
      cursor: pointer;
    }
  }
  &__subheading {
    color: var(--light-text1);
    font-size: 1.2rem;
  }

  &__stake {
    display: grid;
    gap: 2rem;
    // grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-columns: repeat(3, 1fr);
    animation: stakeAnimation 0.5s ease-in;
    transition: 0.2s;
    &_icon {
      height: 2rem;
      width: 2rem;
    }
    &_img {
      height: 3rem;
      width: 3rem;
    }
    &_card {
      border: 1px solid var(--text-color);
      color: var(--text-color2);
      align-items: center;
      gap: 2rem;
      padding: 2rem;
      border-radius: 0.4rem;
      display: flex;
      &_text {
        font-size: 1.6rem;
      }
    }
  }
  &__coin_discription {
    padding: 1rem;
    font-size: 1.4rem;
    color: var(--text-color2);
    h1 {
      font-size: 2rem;
      color: var(--text-color);
    }
  }
  @keyframes stakeAnimation {
    0% {
      transform: translateY(1rem);
    }
    100% {
      transform: translateY(0);
    }
  }
}
.removeCoin {
  border: none;
  background-color: #e1e1e1;
  padding: 1rem 2rem;
  font-weight: bolder;
  font-size: 1.2rem;
  border-radius: 0.4rem;
}
.goToCoin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  width: 100%;
  &__icon {
    font-size: 4rem;
  }
  &__btn {
    background-color: #ffff;
    border: none;
    font-weight: bolder;
    padding: 2rem 3rem;
    border-radius: 4px;
    outline: none;
  }
}
