.modal {
  &__backdrop {
    background-color: #4343433d;
    backdrop-filter: blur(1px);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: all 0.4s;
  }
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 12px #ffffff71;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 1rem;
    transition: all 0.4s;
    min-width: 30vw;
    max-width: 50vw;
    max-height: 80vh;
    min-height: 30vh;
  }
  &__clase {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -1rem;
    right: -1rem;
    height: 3rem;
    width: 3rem;
    font-size: 3rem;
    border-radius: 50%;
    background-color: #f76707;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
  }
}
