.coins {
  background-color: var(--card-bg);
  font-size: 1.4rem;
  font-weight: bolder;
  padding: 1rem;
  display: grid;
  gap: .5rem;
  border-radius: 0.4rem;
  align-items: center;
  color: var(--card-text);
  &:last-child {
    border-bottom: none;
  }
  &__icon {
    width: 3rem;
    height: 3rem;
  }
  &__box_1{
    display: flex;
    align-items: center;
    gap:2rem;
  }
  &__box_2{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
  }
  &__addButton {
    background-color: var(--button-bg);
    font-weight: 600;
    color: var(--button-text);
    border: none;
    padding: 1rem 0;
    border-radius: 0.4rem;
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
      background-color: var(--button-bg-hover);
    }
  }
}
