.coins {
  //   box-shadow: 0 0 6px var(--white);
  background-color: var(--card-bg);
  //   color: var(--white);
  font-size: 2rem;
  font-weight: bolder;
  padding: 1rem;
  display: flex;
  align-content: center;
  gap: 2rem;  
  color: var(--text-primary);
  border-bottom: 1px solid var(--text-secondary);
  &:last-child {
    border-bottom: none;
  }
  &__icon {
    width: 3rem;
    height: auto;
  }
}
