.nav {
  background-color: var(--card-bg);
  display: grid;
  grid-template-rows: min-content 1fr;
  transition: all 0.2s;
  @media (max-width: 768px) {
    position: sticky;
    top: 0;
  }
  &__item {
    padding-left: 1rem;
  }
  &__menu {
    display: grid;
    grid-auto-rows: 1fr auto;
  }
  &__logo {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3rem;
    gap: 2rem;
    font-weight: bolder;
    position: relative;
    transition: all 0.2s;
    &_link {
      color: var(--text-color);
      display: flex;
      align-items: center;
      gap: 2rem;
      justify-content: center;
      transition: all 0.2s;
    }
    &_icon {
      font-size: 3rem;
    }
  }
  &__list {
    display: grid;
    grid-template-rows: repeat(5, min-content);
    align-items: start;
    gap: 1rem;
    color: var(--text-color2);
  }
  &__link {
    font-size: 1.8rem;
    color: var(--text-color2);
    display: flex;
    gap: 2rem;
    justify-content: start;
    transition: all 0.2s;
    padding: 1rem 2rem;
    &:hover {
      background-color: var(--card-hover);
      @media (min-width: 768px) {
        border-radius: 100px 0 0 100px;
      }
    }
    @media (max-width: 768px) {
      padding: 1rem;
      gap: 1rem;
    }
    &_icon {
      font-size: 2rem;
    }
  }

  &__acttion {
    display: flex;
    padding: 2rem;
    gap: 2rem;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.logout {
  background-color: transparent;
  border: none;
  width: min-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bolder;
  font-size: 1.6rem;
  color: var(--text-color2);
  cursor: pointer;
}
span {
  width: auto;
  visibility: 1;
}

@media (min-width: 768px) {
  [collapse="show"] {
    span {
      overflow-x: hidden;
      width: 0 !important;
      visibility: 1;
    }
    .nav {
      position: relative;
      &__link {
        transition: all 0.2s;
        gap: 0;
      }
      &__list {
        align-items: center;
      }
      &__logo {
        justify-content: center;
        gap: 0;
        &_link {
          width: 0;
          overflow: hidden;
          gap: 0;
          text-align: center;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  [collapse="hide"] {
    .nav {
      height: 100vh;
      position: relative;
      position: relative;
      &__menu {
        overflow: hidden;
        position: absolute;
        top: 100%;
        height: 0%;
        width: 100%;
        background-color: #fff;
        transition: all 0.2s;
        height: 0;
        min-height: 0%;
        background-color: var(--card-bg);
      }
    }
  }
  [collapse="show"] {
    .nav {
      height: 100vh;
      position: relative;
      &__menu {
        overflow: hidden;
        position: absolute;
        top: 100%;
        height: 90vh;
        min-height: 100%;
        width: 100%;
        background-color: #fff;
        transition: all 0.2s;
        z-index: 9999;
        gap: 5rem;
        background-color: var(--card-bg);
      }
    }
  }
}
.menuHide {
  right: 0;
  border: none;
  outline: none;
  font-size: 1.5rem;
  background-color: var(--btn-primary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  color: var(--btn-primary-text);
  cursor: pointer;
}
.toggle {
  width: 4rem;
  height: 2rem;
  display: flex;
  align-items: center;
  transition: all 0.2s;
  border-radius: 100px;
  position: relative;
  background-color: var(--toggle);
  cursor: pointer;
  .theme {
    position: absolute;
    height: 2rem;
    width: 2rem;
    font-size: 1.5rem;
    background-color: var(--toggle-button);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    left: 100%;
    transform: translate(-100%, 0%);
    transition: all 0.2s;
  }
}
[them="dark"] {
  background-color: var(--toggle-bg);
  transition: all 0.2s;
  .theme {
    background-color: var(--toggle-button);
    left: 0;
    color: var(--btn-primary);
    transition: all 0.2s;
    transform: translate(0%, 0%);
  }
}
