.coin {
  max-height: 100vh;
  height: 100vh;
  overflow: auto;
  &__container{    
    height:100%;    
  }
}
.red {
  color: rgba(255, 0, 0, 0.578);
  font-weight: bolder;
}
.green {
  font-weight: bolder;
  color: green;
}
