.coin {
  max-height: 100vh;
  height: 100vh;
  overflow: auto;
  &__container {
    height: 100%;
  }
  @media (max-width: 768px) {
    height: 100%;
  }
}
.red {
  color: var(--brightred);
  font-weight: bolder;
}
.green {
  font-weight: bolder;
  color: var(--limegreen);
}
.addcoin {
  background-color: var(--btn-add);
  color: var(--btn-add-text);
  font-weight: bolder;
  border: none;
  padding: 0.5rem 1rem;
  transition: .2s;
  border-radius: 0.2rem;&:hover{
    background-color: var(--btn-add-hover);
  }
}
