// :root {
//   --primary: #2f72e3;
//   --bg: #f5f5f5;
//   --bg-secondary: #acf1ff;
//   --card-bg: #fbfbfb;
//   --text-primary: #000;
//   --nav-bg: #fff;
//   --text-secondary: #616161;

//   --white: #ffff;

//   --stake-bg: #eff2f5;
// }

// .dark {
//   --primary: #2f72e3;
//   --bg: #191919;
//   --bg-secondary: #191919;
//   --card-bg: #1d1d1d;
//   --text-primary: #fff;
//   --nav-bg: #1d1d1d;
//   --text-secondary: #949494;

//   --stake-bg: #858ca2;
// }

// ======================================
:root {
  --background: #ffffff;

  // logo
  --logo: #1a1a1a;

  // sidebar
  --sidebar-bg: #ffffff;
  --sidebar-text: #1a1a1a;
  --sidebar-link: #4e4e4e;

  --primary-dark: #1964d4;
  --primary: #337ded;
  --primary-1: #498cef;
  --primary-2: #609af1;
  --primary-3: #77a9f3;

  // section
  --section-bg: #efefef;
  --card-bg: #ffffff;
  --card-text: #000000;

  // stack
  --stack-bg: #77a9f33b;
  --stack-hed: #000000;
  --stack-text: #0e3876;

  // Add_Button
  --button-bg: #77a9f33b;
  --button-bg-hover: #77a9f35f;
  --button-text: #0e3876;

  // ==============Home=========
  // Heading
  --dashboard-heading: #000000;
  --card-heading: #000;
  --dashboard-subheading: #4e4e4e;
  // selecter
  --selecter-bg: #77a9f33b;
  --selecter-text: #0e3876;
}
.dark {
  --background: #1a1a1a;

  --logo: #ffffff;

  // sidebar
  --sidebar-bg: #1a1a1a;
  --sidebar-text: #ffffff;
  --sidebar-link: #dddddd;

  --primary-bg: #77a9f33b;

  // section
  --section-bg: #151515;
  --card-bg: #1d1d1d;
  --card-text: #ffff;

  // stack
  --stack-bg: #77a9f312;
  --stack-hed: #000000;
  --stack-text: #f1f1f1;

  // Add_Button
  --button-bg: #222222;
  --button-bg-hover: #333333;
  --button-text: #f1f1f1;

  // ==============Home=========
  // Heading
  --dashboard-heading: #f1f1f1;
  --card-heading: #fff;
  --dashboard-subheading: #f1f1f1;
  // selecter
  --selecter-bg: #77a9f312;
  --selecter-text: #0e3876;
}
