:root {
  --background: #ffffff;

  // logo
  --logo: #1a1a1a;

  // sidebar
  --sidebar-bg: #ffffff;
  --sidebar-text: #1a1a1a;
  --sidebar-link: #4e4e4e;

  --primary-dark: #1964d4;
  --primary: #337ded;
  --primary-1: #498cef;
  --primary-2: #609af1;
  --primary-3: #77a9f3;

  // section
  --section-bg: #efefef;
  --card-bg: #ffffff;
  --card-text: #000000;

  // stack
  --stack-bg: #77a9f33b;
  --stack-hed: #000000;
  --stack-text: #0e3876;

  // Add_Button
  --button-bg: #77a9f33b;
  --button-bg-hover: #77a9f35f;
  --button-text: #0e3876;

  // ==============Home=========
  // Heading
  --dashboard-heading: #000000;
  --card-heading: #000;
  --dashboard-subheading: #4e4e4e;
  // selecter
  --selecter-bg: #77a9f33b;
  --selecter-text: #0e3876;

  // ==================state========
  // stats
  --stats-bg: #efefef;
  --stats-content: #ffffff;
  --stats-heading: #000;
  --stats-subheading: #4e4e4e;
  // btn
  --stats-btn-bg: #77a9f33b;
  --stats-btn-text: #0e3876;
  --stats-btn-hover: #77a9f35f;

  // ==================Exchange=======================
  --exchange-bg: #efefef;
  --exchange-card-bg: #ffffff;
  --exchange-text: #000000;
}
.dark {
  --background: #1a1a1a;

  --logo: #ffffff;

  // sidebar
  --sidebar-bg: #1a1a1a;
  --sidebar-text: #ffffff;
  --sidebar-link: #dddddd;

  --primary-bg: #77a9f33b;

  // section
  --section-bg: #151515;
  --card-bg: #1d1d1d;
  --card-text: #ffff;

  // stack
  --stack-bg: #77a9f312;
  --stack-hed: #000000;
  --stack-text: #f1f1f1;

  // Add_Button
  --button-bg: #222222;
  --button-bg-hover: #333333;
  --button-text: #f1f1f1;

  // ==============Home=========
  // Heading
  --dashboard-heading: #f1f1f1;
  --card-heading: #fff;
  --dashboard-subheading: #f1f1f1;
  // selecter
  --selecter-bg: #77a9f312;
  --selecter-text: #0e3876;

  // ==================state========
  // stats
  --stats-bg: #151515;
  --stats-content: #1d1d1d;
  --stats-heading: #fff;
  --stats-subheading: #f1f1f1;
  // btn
  --stats-btn-bg: #222222;
  --stats-btn-text: #f1f1f1;
  --stats-btn-hover: #333333;
}
