:root {
  --primary: #2f72e3;
  --bg:#F2F2F2;
  --bg-secondary:#fff;
  --card-bg: #fbfbfb;
  --text-primary: #000;
  --text-secondary: #a3a3a3;
  --nav-bg:#fff;

  --white:#ffff;
}

.dark {
  --primary: #2f72e3;
  --bg:#191919;
  --bg-secondary: #191919;
  --card-bg: #1d1d1d;
  --text-primary: #fff;
  --nav-bg:#1d1d1d;
  --text-secondary: #949494;
}
