.table {
  width: 100%;  
  border: none;
  border-collapse: collapse;
  font-size: 1.4rem;
  tr {
    width: 100%;
    background-color: gray;
    color: #fff;
    &:nth-child(odd) {
      background-color: var(--bg);
      color: #000;
    }
    td {
      width: max-content;
    }
  }
}
